@model IEnumerable<UniversityMVC.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}

<h3>Курсы</h3>
<table class="table-condensed">
    <tr>
        <td>ID</td>
        <td>Название</td>
    </tr>
    @foreach (var course in Model)
    {
        <tr>
            <td>@course.Id</td>
            <td><a href="~/Course/SelectedCourse/@course.Id">@course.Name</a></td>
        </tr>
    }
</table>
